# Development Files
generate-unicode-emoji.js
unicode-emoji.json
unicode-emoji.csv

# Git Files
.gitattributes

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
Thumbs.db
